footer {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 6vh;
}


.fa-github {
    color: white;
    font-size: 6.5vh;
}

.social_button {
    all: unset;
    background-color: transparent;

    cursor: pointer;
    margin: 0 3vw 0 0;
}

#footer_btns {
    margin: 3vw 0 0 0;
}