header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 9vh;
    padding: 2vh 2vh;
    background-color: rgba(110, 110, 110, 0);
}

#head_title{
    display: none;
}

#head_img_logo {
    height: 11vh;
    width: 11vh;
    margin: 0 2vw;
}

#head_img_logo img {
    display: flex;
    height: 100%;
    width: 100%;
}

#head_buttons {
    display: flex;
    flex-direction: row;
}

#header_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Oxanium', Geneva, Tahoma, sans-serif ;
    font-size: 2vw;
    margin: 0;
    color: white;
}

#logo_link {
    all: unset;
    cursor: pointer;
}

.head_btns i {
    display: flex;
    justify-content: flex-end;
}

.head_btns h6 {
    margin-left: 1vw;
    font-family: 'Oxanium', Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
}

.head_btns {
    all: unset;
    display: flex;
    align-items: center;
    
    border: 2px solid white;
    border-radius: 15px;
    background-color: black;
    color: white;
    margin: 0 2vw 0 2vw;
    width: 12vw;
    height: 7vh;
    cursor: pointer;
}

@media (max-width: 768px) {
    .head_btns h6 {
        display: none;
    }

}

@media (max-width: 490px) {

    #head_title {
        font-family: 'Oxanium', 'Courier New', Courier, monospace;
        font-size: 30px;
    }

    #head_logo_text {
        display: none;
    }

    .head_btns h6 {
        display: none;
    }
}