#cartoes {
    display: flex;
    flex-direction: row;
    
    position: absolute;
    left: -000vw;

    height: max-content;
    width: max-content;
}

.card {
    height: 20vw;
    width: 94vw;
    margin: 0 2vw;
    background-color: rgba(0, 0, 0, 0.596);
    font-family: 'oxanium', 'Courier New', Courier, monospace;

    border: solid 2px rgb(255, 255, 255);
    border-radius: 5vh;

    color: white;

    text-align: center;
}

.card h1 {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
}

.card h3 {
    font-size: 28px;
    font-weight: lighter;
}

.card i {
    font-size: 8vh;
    width: auto;
}

