header, section {
    display: flex;
    flex: row;   
}

#header_logo {
    display: flex;
    flex: row;  
}

#head_img_logo {
    height: 72px;
}

footer {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

footer button img {
    height: 40px;
    width: 40px;
}