section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


/* other pages */

#experiencia_page, #projeto_page, #formacao_page {
    position: absolute;
    top: 18vh;
}

.section_icons {
    height: 100%;
    width: 100%;
    font-size: 200px;
    color: white;
}

.button_contents {
    text-align: center;
    color: white;
    font-family: 'Oxanium', 'Courier New', Courier, monospace;
}

.pages_desc {
    font-weight: 100;
}

/* main page */

.inicio {
    display: flex;
    flex-direction: row;
}

#main_img {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: auto;
    height: 50vh;
}

#main_img img {
    width: auto;
    height: auto;
}

#main_content {
    margin: 0 0 0 1vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: white;
    width: 30vw;
    font-family: 'Oxanium', 'Courier New', Courier, monospace;
}

#main_desc {
    font-weight: lighter;
}

@media (max-width: 490px) {
    section {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .section_icons {
        font-size: 130px;
    }
    
    #experiencia_page, #projeto_page, #formacao_page {
        right: 30vw;
    }


    #head_title{
        display: flex;
    }

    #main_content {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #main_title h1 {
        padding: 0 0 0 15px;
    }

    #main_title{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #main_img {
        display: none;
    }
}