<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio</title>
    <link rel="stylesheet" href="./../css/layout/index.css">
    <link rel="stylesheet" href="./../css/index/section.css"> 
    <script src="https://kit.fontawesome.com/2282fdb901.js" crossorigin="anonymous"></script>
    <script src="./../../controller/js/script.js"></script>
</head>
<body>
    <header>
        <div id="header_logo">
            <div id="head_img_logo">
                <a id="logo_link" href="./../pages/index.html">
                    <img src="./../../assets/img/saturn-test.png">
                </a>
            </div>
            <h3 id="head_logo_text">Profissão</h3>
        </div>  
        <div id="head_buttons">
            <button class="head_btns" id="experiencia" onclick="window.location.href='./experiencia.html'">
                <h6>Experiência</h6>
                <i class="header_icon_cubes fa-solid fa-cubes-stacked"></i>
            </button>
            <button class="head_btns" id="formacao" onclick="window.location.href='./formacao.html'">
                <h6>Formação</h6>
                <i class="header_icon_cap fa-solid fa-graduation-cap"></i>
            </button>
            <button class="head_btns" id="projetos" onclick="window.location.href='./projetos.html'">
                <h6>Projetos</h6>
                <i class="header_icon_gears fa-solid fa-gears"></i>
            </button>
        </div>
    </header>
    
    <section>
        <div id="inicio" class="inicio">
            <div id="main_img">
                <img src="./../../assets/img/saturn-test.png"> 
            </div>
            <div id="main_content">
                <!-- mobile section title -->
                <div id="head_title">
                    <h1>Profissão</h1>
                </div>
                
                <div id="main_title">
                    <div id="head_name">
                        <h1>Ayrton Machado</h1>
                    </div>    
                </div>
                <div id="main_desc">    
                    <p>parágrafo de texto</p>
                </div>
            </div>    
        </div>
    </section>

    <footer>
        <button class="social_button">
            <a href="https://github.com/Ayrton-Machado">
                <i class="fa-brands fa-github"></i>
            </a>    
        </button>
    </footer>

</body>
</html>