<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/layout/index.css">
    <link rel="stylesheet" href="./../css/projetos/section.css">
    <script src="https://kit.fontawesome.com/2282fdb901.js" crossorigin="anonymous"></script>
    <script type="module" src="./../../view/js/projetos.js" defer></script>

    <title>Projetos</title>
</head>
<body>
    <header>
        <div id="header_logo">
            <div id="head_img_logo">
                <a id="logo_link" href="/view/pages/index.html">
                    <img src="./../../assets/img/saturn-test.png">
                </a>
            </div>
            <h3 id="head_logo_text">Projetos</h3>
        </div>  
        <div id="head_buttons">
            <button class="head_btns" id="experiencia" onclick="window.location.href='./experiencia.html'">
                <h6>Experiência</h6>
                <i class="header_icon_cubes fa-solid fa-cubes-stacked"></i>
            </button>
            <button class="head_btns" id="formacao" onclick="window.location.href='./formacao.html'">
                <h6>Formação</h6>
                <i class="header_icon_cap fa-solid fa-graduation-cap"></i>
            </button>
            <button class="head_btns" id="projetos" onclick="window.location.href='./projetos.html'">
                <h6>Projetos</h6>
                <i class="header_icon_gears fa-solid fa-gears"></i>
            </button>
        </div>
    </header>

    <section>
        <nav id="banners">
        </nav>

        <nav id="btns_banners">
        </nav>
    </section>
    
    <nav id="cartoes">
    </nav>

    <section id="telaCadastro">
        <div id="inputs_cad">
            <input id="titulo" type="text">
            <input id="icon_class" type="text">
            <input id="link" type="text">
            <input id="desc" type="text">
            <div id="buttons_telaCad">
                <button onclick="cadastrarCartao()">SALVAR</button>
                <button onclick="escondeTelaCad()">CANCELAR</button>
            </div>
        </div>
    </section>
    <section id="telaEdit">
        <div id="inputs_cad">
            <input id="titulo_edit" type="text">
            <input id="icon_class_edit" type="text">
            <input id="link_edit" type="text">
            <input id="desc_edit" type="text">
            <div id="buttons_telaEdit">
                <button onclick="recolheDadosEdit()">EDITAR</button>
                <button onclick="escondeTelaEdit()">CANCELAR</button>
            </div>
        </div>
    </section>    


</body>
</html>